.stone582416781 {
  background-color: #bbc5ce;
  color: #1a1d1f;
  border: 2px solid #bbc5ce;
  border-radius: 6px;
  height: 32px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -webkit-box;
  display: -webkit--webkit-inline-flex;
  display: -ms--webkit-inline-flexbox;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.stone582416781:hover {
  background-color: #d9dfe4;
}
.stone2500770900 {
  color: #333333;
}
