.stone2938347561 {
  background-color: #bbc5ce;
  color: #1a1d1f;
  border: 2px solid #bbc5ce;
  border-radius: 6px;
  height: 32px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.stone2208626353 {
  outline: #000;
  color: #000;
  background: #d9dfe4;
  border-color: #d9dee4;
}